{% extends 'halls/base.html' %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">What's your personal Hall of Fame?</h1>
        <p class="load text-muted">You know what they are. They're your goto videos. You have a top 10 list and it's time to share them with the world. Click the button below to get started.</p>
        <p>
          <a href="{% url 'create_hall' %}" class="btn btn-primary">Create Your Hall of Fame</a> 
        </p> 
    </div>
</section>
<div class="container">
  <h1 class="text-center">Recent Videos</h1>
  {% for hall in recent_halls %}
    <h2><a href="{% url 'detail_hall' hall.id %}">{{ hall.title | title }}</a></h2>
    <br>
    <br>
    <div class="row">
    {% for video in hall.video_set.all %}
    <div class='col-md-4 mt3'>
        <div class='card mb-4 shadow-sm'>
            <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text">{{ video.title }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}